* {
	box-sizing: content-box;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#canvas {
	margin: 0 auto;
	width: 700px;
	height: 700px;
	background-color: black;
	border: 4px solid red;
	padding: 10px;
}

.canvas-square {
	box-sizing: border-box;
	background-color: #30353d;
	display: block;
	float: left;
	margin: auto;
}

.marked {
	background-color: white;
}